node_modules
client/node_modules
rough
to do
client/bower_components
npm-debug.log
client/app/*.js*
client/app/components/tasks/*.js*
client/app/services/*.js*
client/app/components/profile/*.js*
client/app/components/account/*.js*
script.sh
