<html>
    <body>
    <h1> Login Page</h1>
    <p>lead Say something worthwhile here</p>
    <br/>
  <a href="/account"> Go home</a>
    <br>
    <a href="/account/ping"> Ping</a>
    <% if (typeof user != 'object' && !user) { %>

      <a href="/account/login"> Login</a>
      <br/>
      <a href="/account/register"> Register</a>
    <% } %>
    <% if (typeof user == 'object' || user) { %>
       <p> You are currently logged in as <%= user.username %></p>
      <a href="/account/logout"> Logout</a>
      <% } %>

    </body>
    </html>
