<html>
  <head>
    <body>
    <h1> Register Page</h1>
    <p>lead Say something worthwhile here</p>
    <br/>
    <form role="form" action="/register" method="POST" style='max-width: 300px;'>
      <span class="form-group">
          <input class="form-control" type="text" name="username" placeholder='Enter Username'>
      </span>
      <span class="form-group">
        <input class="form-control" type="password" name="password" placeholder='Password'>
      </span>
      <br/>
      <button class="btn btn-default" type="submit" >Sign Up</button>
    </form>
      <a href='/' >
        <button class="btn.btn-primary" type="button"> Cancel</button>
      </a>
<%= info %>
    <br/>
  </body>
  </html>
