    <body>
    <h1> Register Page</h1>
    <br/>
    <div class="well">{{info}}</div>
    <form role="form" (submit)="register($event)"  style='max-width: 300px;'>
      <span class="form-group">
          <input class="form-control" type="text" [(ngModel)]="username" name="username" placeholder='Enter Username'>
      </span>
      <span class="form-group">
        <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder='Password'>
      </span>
      <br/>
      <button class="btn btn-default" type="submit" >Sign Up</button>
    </form>
    <br/>
